/* add your tweaks here! */
.ui-item { 
    text-decoration: underline dashed rgb(158, 234, 249);
    //font-style: normal;
}
code {
    font-size: 1em;
}
.docs-link {
    text-decoration: underline;
}